<h1>New Group</h1>

<%= form_with model: @group do |form| %>
  <div>
    <%= form.label :group_code %><br>
    <%= form.text_field :group_code %>
    <% @group.errors.full_messages_for(:group_code).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
